<ng-container *ngIf="{items: items} as datalayer">
  <ng-template #itemTemplate let-item="item">
    <article
      class="item"
      *ngIf="{children: datalayer.items | childItems:item} as itemdatalayer"
    >
      <span class="t">{{ item.title }}</span>
      <div
        class="children"
        *ngIf="itemdatalayer.children && itemdatalayer.children.length > 0"
      >
        <ng-container *ngFor="let child of itemdatalayer.children">
          <ng-container
            *ngTemplateOutlet="itemTemplate; context: { item: child }"
          ></ng-container>
        </ng-container>
      </div>
    </article>
  </ng-template>
  <ng-container *ngFor="let item of datalayer.items | masterItems">
    <ng-container
      *ngTemplateOutlet="itemTemplate; context: { item: item }"
    ></ng-container>
  </ng-container>
</ng-container>
