<div cdkDropListGroup *ngIf="{master: items | masterItems} as datalayer">
  <ng-template #itemTemp let-item="item">
    <article class="item" *ngIf="{children: items | childItems:item} as localdatalayer">
      <span class="t">{{ item.title }}</span>
      <div class="drop" cdkDropList (cdkDropListDropped)="onDragAndDrop($event)" [id]="item.id.toString()"
        [cdkDropListConnectedTo]="items | reduceItemsToIds">
        <ng-container *ngIf="localdatalayer.children && localdatalayer.children.length">
          <ng-container *ngFor="let item of localdatalayer.children">
            <div cdkDrag [cdkDragData]="item">
              <ng-container *ngTemplateOutlet="itemTemp; context: {item: item}"></ng-container>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </article>
  </ng-template>
  <div class="drop" cdkDropList (cdkDropListDropped)="onDragAndDrop($event)" id="-1"
    [cdkDropListConnectedTo]="items | reduceItemsToIds">
    <ng-container *ngFor="let item of datalayer.master">
      <div cdkDrag [cdkDragData]="item">
        <ng-container *ngTemplateOutlet="itemTemp; context: {item: item}"></ng-container>
      </div>
    </ng-container>
  </div>
</div>